<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cinema.movie.mapper.PayMapper"> 
<!-- 
 이름            널?       유형             

PAY_NUM       NOT NULL NUMBER(38)     
USER_ID       NOT NULL VARCHAR2(1000) 
PAY_DATE      NOT NULL DATE           
TICKET_AMOUNT NOT NULL NUMBER(38)     
PRICE         NOT NULL NUMBER(38)     
RE_NUM        NOT NULL NUMBER(38)     
 -->

<insert id="insertPay">
<selectKey  resultType="int" keyProperty="payNum" order="BEFORE">
select pay_seq.nextval from dual
</selectKey>


insert into pay values (#{payNum},#{userId},#{payDate},#{ticketAmount},#{price},#{reNum})

</insert>




</mapper>