<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cinema.movie.mapper.TheaterMapper">
<!-- THEATER_NUM  NOT NULL NUMBER(38)     
THEATER_NAME NOT NULL VARCHAR2(1000) 
ADDRESS      NOT NULL VARCHAR2(1000) 
THEATER_LIST NOT NULL VARCHAR2(1000 -->
<insert id="insertTheater">

<selectKey resultType="int" keyProperty="theaterNum" order="BEFORE">
select theater_seq.nextval from dual
</selectKey>
insert into theater values(#{theaterNum},#{theaterName},#{address}})

</insert>

<select id="selectTh" resultType="TheaterDTO">

select * from theater where address=#{address}

</select>

<!-- join  screen이랑 theater랑 구분 잘해야함-->
<select id="joinThScreen" resultType="String">

select * from theater t join screen s on t.theater_num=s.theater_num where mv_name=#{mvName}

	</select>




</mapper>