<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cinema.movie.mapper.TheaterMapper">
<!-- THEATER_NUM  NOT NULL NUMBER(38)     
THEATER_NAME NOT NULL VARCHAR2(1000) 
ADDRESS      NOT NULL VARCHAR2(1000) 
THEATER_LIST NOT NULL VARCHAR2(1000 -->
<insert id="insertTheater">

<selectKey resultType="int" keyProperty="theaterNum" order="BEFORE">
select theater_seq.nextval from dual
</selectKey>
insert into theater values(#{theaterNum},#{theaterName},#{address},#{theaterList})

</insert>

<select id="selectTh" resultType="TheaterDTO">

select * from theater where address=#{address}

</select>



</mapper>