<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cinema.movie.mapper.UserInfoMapper">

	<insert id="insertUserInfo">
		<selectKey resultType="int" keyProperty="userNum"
			order="BEFORE">
			select userinfo_seq.nextval from dual
		</selectKey>
		insert into userinfo values (
		#{userNum},#{userId},#{userPw},#{addNum},
		#{address},#{phoneNum})
	</insert>


	<select id="selectUserInfo" resultType="UserInfoDTO">

		select * from userinfo where user_id=#{userId}

	</select>
	
	


</mapper>